{% extends 'layouts/master.twig' %}

{% block content %}
	<div
		class="header"
		{% if movie.backdrop_path is not empty %}
			style="background-image: url('/{{ movie.backdrop_path }}')"
		{% endif %}
	>
		{% include 'partials/header-actions.twig' %}
	</div>

	<div class="container">
		<main class="main-content" role="main">
			<div class="movie">
				<img src="/{{ movie.poster_path }}" class="movie__poster">
			</div>
			<div class="main-content__inner">
				<h1 class="movie__title">
					{{ movie.title }}
				</h1>
				<div class="movie__release-date">
					{{ movie.release_date|date('F j, Y') }}
				</div>
				<ul class="movie__genres">
					{% for genre in movie.genres %}
						<li class="movie__genre">
							<a href="/collection/search/genre/{{ genre.genre_title }}">{{ genre.genre }}</a>
						</li>
					{% endfor %}
				</ul>
				<p class="movie__overview">
					{{ movie.overview }}
				</p>
				<div class="movie__cast">
					{% for member in credits.cast|slice(0, 10) %}
						{% include 'partials/cast.twig' %}
					{% endfor %}
				</div>
				<div class="button button-colored movie__remove" data-ref="movieDelete">Delete</div>
				<form method="post" action="/collection/remove/{{ movie.id }}" class="movie__delete-form js-hide" data-ref="movieDeleteForm">
					{{ csrf_field() }}
					<div class="movie__delete-message">Are you sure?</div>
					<button class="button button-colored movie__delete-button">Yes</button>
					<span class="button" data-ref="movieDeleteCancel">No</span>
				</form>
			</div>
		</main>
	</div>
{% endblock %}